<div class=" h-screen overflow-hidden">
    <div class="flex h-full">
        <aside id="sidebar" class="bg-[#F2EAE1] px-4 w-64 flex-shrink-0 fixed md:relative transform -translate-x-full md:translate-x-0 transition-transform duration-300 ease-in-out min-h-screen z-40">
            <div class="logo capitalize font-bold ml-4 my-6 relative">Enaa app</div>

            <div class="user flex flex-col justify-center items-center">
                <div class="flex justify-center items-center w-full">
                    <div class="profile-image-wrapper p-6 bg-white border-2 border-solid border-black w-1/2 rounded-4xl">
                        <img src="https://images.unsplash.com/photo-1618018352910-72bdafdc82a6?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="profile-img">
                    </div>
                </div>
                
                <!-- todo add dynamic profile name -->
                 <div class="profile-details text-center mt-4">
                     <div class="profile-name font-bold capitalize">sine oussama</div>
                     <div class="badge capitalize text-[#ffd631]"> admin </div>
                 </div>
            </div>

            <div class="side-links mt-5">
                <ul class="list-items">
                    <li class="list-item w-full my-2">
                        <a href="#" class="item-link block px-6 py-3 bg-[#FEAF00] rounded-md capitalize transition-all duration-300">
                            <i class="fa-solid fa-house mr-3"></i>
                            home
                        </a>
                    </li>
                    <li class="list-item w-full my-1">
                        <a href="#" class="item-link block px-6 py-3 rounded-md hover:bg-[#FEAF00] capitalize transition-all duration-300">
                            <i class="fa-solid fa-tag mr-3"></i>
                            brief
                        </a>
                    </li>
                    <li class="list-item w-full my-1">
                        <a href="#" class="item-link block px-6 py-3 rounded-md hover:bg-[#FEAF00] capitalize transition-all duration-300">
                            <i class="fa-solid fa-graduation-cap mr-3"></i>
                            apprenents
                        </a>
                    </li>
                    <li class="list-item w-full my-1">
                        <a href="#" class="item-link block px-6 py-3 rounded-md hover:bg-[#FEAF00] capitalize transition-all duration-300">
                            <i class="fas fa-tools mr-3"></i>
                            competance
                        </a>
                    </li>
                    <li class="list-item w-full my-1">
                        <a href="#" class="item-link block px-6 py-3 rounded-md hover:bg-[#FEAF00] capitalize transition-all duration-300">
                            <i class="fa-solid fa-file mr-3"></i>
                            raport
                        </a>
                    </li>
                    <li class="list-item w-full my-1">
                        <a href="#" class="item-link block px-6 py-3 rounded-md hover:bg-[#FEAF00] capitalize transition-all duration-300">
                            <i class="fa-solid fa-gears mr-3"></i>
                            settings
                        </a>
                    </li>
                </ul>
            </div>

            <div class="logout-wrapper absolute bottom-0 left-0 p-3 w-full">
                <button class="logout block w-full p-4 text-center cursor-pointer hover:text-[#feaf00] capitalize transition-all duration-300">
                    logout
                    <i class="fa-solid fa-arrow-right-from-bracket ml-3"></i>
                </button>
            </div>
        </aside>

        <div class="flex-1 flex flex-col h-full relative">
            <nav id="navbar" class="w-full py-4 px-6 flex justify-between items-center">
                <button class="icon w-8 h-8 border border-gray-900 flex justify-center items-center rounded-full rotate-180 cursor-pointer">
                    <i class="fa-solid fa-play ml-1"></i>
                </button>

                <div class="right-nav flex items-center">
                    <input type="text" placeholder="search" class="py-1 px-4 border border-gray-400 placeholder:text-gray-600 rounded-md">

                    <button class="notification ml-5 text-xl cursor-pointer">
                        <i class="fa-regular fa-bell"></i>
                    </button>
                </div>
            </nav>

            <div class="flex-1 overflow-y-auto p-6">
                <div class="dashboard">
                    <div class="statistic-cards grid grid-cols-4 gap-4">
                        <div class="learner col-span-1 rounded-lg p-3 bg-[#F0F9FF]">
                            <i class="fa-solid fa-graduation-cap mr-3 text-2xl text-[#74C1ED]"></i>
                            <div class="text-xl my-3">Apprenents</div>
                            <div class="flex justify-end items-center">
                                <p class="text-4xl font-bold">243</p>
                            </div>
                        </div>
                        <div class="learner col-span-1 rounded-lg p-3 bg-[#FEF6FB]">
                            <i class="fa-solid fa-tag mr-3 text-2xl text-[#EE95C5]"></i>
                            <div class="text-xl my-3">Briefs</div>
                            <div class="flex justify-end items-center">
                                <p class="text-4xl font-bold">13</p>
                            </div>
                        </div>
                        <div class="learner col-span-1 rounded-lg p-3 bg-[#FEFBEC]">
                            <i class="fas fa-tools mr-3 text-2xl text-[#F6C762]"></i>
                            <div class="text-xl my-3">Competance</div>
                            <div class="flex justify-end items-center">
                                <p class="text-4xl font-bold">100</p>
                            </div>
                        </div>
                        <div class="learner col-span-1 rounded-lg p-3 bg-gradient-to-tr from-[#FEAF00] to-[#F8D442] text-white">
                            <i class="fa-solid fa-users mr-3 text-2xl"></i>
                            <div class="text-xl my-3">Users</div>
                            <div class="flex justify-end items-center">
                                <p class="text-4xl font-bold">300</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
