<div class=" h-screen overflow-hidden">
    <div class="flex h-full">
        <app-sidebar></app-sidebar>

        <div class="flex-1 flex flex-col h-full relative">
            
            <app-navbar></app-navbar>

            <div class="flex-1 overflow-y-auto p-6">
                <div class="dashboard">
                    <div class="statistic-cards grid grid-cols-4 gap-4">
                        <div class="learner col-span-1 rounded-lg p-3 bg-[#F0F9FF]">
                            <i class="fa-solid fa-graduation-cap mr-3 text-2xl text-[#74C1ED]"></i>
                            <div class="text-xl my-3">Apprenents</div>
                            <div class="flex justify-end items-center">
                                <p class="text-4xl font-bold">243</p>
                            </div>
                        </div>
                        <div class="learner col-span-1 rounded-lg p-3 bg-[#FEF6FB]">
                            <i class="fa-solid fa-tag mr-3 text-2xl text-[#EE95C5]"></i>
                            <div class="text-xl my-3">Briefs</div>
                            <div class="flex justify-end items-center">
                                <p class="text-4xl font-bold">13</p>
                            </div>
                        </div>
                        <div class="learner col-span-1 rounded-lg p-3 bg-[#FEFBEC]">
                            <i class="fas fa-tools mr-3 text-2xl text-[#F6C762]"></i>
                            <div class="text-xl my-3">Competance</div>
                            <div class="flex justify-end items-center">
                                <p class="text-4xl font-bold">100</p>
                            </div>
                        </div>
                        <div class="learner col-span-1 rounded-lg p-3 bg-gradient-to-tr from-[#FEAF00] to-[#F8D442] text-white">
                            <i class="fa-solid fa-users mr-3 text-2xl"></i>
                            <div class="text-xl my-3">Users</div>
                            <div class="flex justify-end items-center">
                                <p class="text-4xl font-bold">300</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
