<nav id="navbar" class="w-full py-4 px-6 flex justify-between items-center">
    <button
        class="icon w-8 h-8 border border-gray-900 flex justify-center items-center rounded-full rotate-180 cursor-pointer">
        <i class="fa-solid fa-play ml-1"></i>
    </button>

    <div class="right-nav flex items-center">
        <input type="text" placeholder="search"
            class="py-1 px-4 border border-gray-400 placeholder:text-gray-600 rounded-md">

        <button class="notification ml-5 text-xl cursor-pointer">
            <i class="fa-regular fa-bell"></i>
        </button>
    </div>
</nav>